root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
draw_white_space = all
trim_trailing_whitespace = true
trim_trailing_white_space_on_save = true

[*.{pl,sh}]
indent_size = 4
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = false
indent_brace_style = "K&R"

[*.md]
trim_trailing_whitespace = false
trim_trailing_white_space_on_save = false
